.git
.gitignore
.github
.vscode
.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.eggs/
*.egg-info/
build/
dist/
logs/
.env
.env.*
*.log
.DS_Store
tests/

**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
**/__pycache__
secrets/
.agents/
.codex/
