LOG_LEVEL=INFO

OPENAI_API_KEY=
TELEGRAM_BOT_TOKEN=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=default
REDIS_PASSWORD=

POSTGRES_USER=chatbot
POSTGRES_PASSWORD=123
DATABASE_URL=postgresql+psycopg://chatbot:123@postgres:5432/chatbot

WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=1107377322449228

USE_TELEGRAM=1
USE_WHATSAPP=0